* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  animation: show-content 0.5s ease-out forwards;
  animation-delay: 1.2s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-left: 30px;
}
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}
.navbar ul li:hover a,
.navbar ul li:active a {
  color: #ff0;
}

.home {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 60px 9% 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  animation: show-content 0.5s ease-out forwards;
  animation-delay: 1.6s;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  display: inline-block;
  font-size: 32px;
  margin: -10px;
}
.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: display-text 16s linear infinite;
  -webkit-animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}
.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  -100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.home-info p {
  font-size: 18px;
  margin: 20px 0;
  color: #ccc;
}

.home-info .btn-sci {
  display: flex;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #7cf03d;
  border: #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: transparent;
  color: #7cf03d;
  box-shadow: none;
}

.home-info .btn-sci .sci {
  margin-left: 20px;
}

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 0%;
  border: 2px solid #7cf03d;
  border-radius: 50%;
  color: #7cf03d;
  margin: 0 8px;
  font-size: 18px;
  transition: 0.3s;
}

.home-info .btn-sci .sci a:hover {
  background: #7cf03d;
  color: #1f242d;
  box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
  position: relative;
  width: 33vw;
  height: 33vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent, transparent, transparent, #7cf03d);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  animation: border-rotate 4s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -2s;
}

@keyframes border-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.home-img .img-box .img-item {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #7cf03d;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}
.home-img .img-box .img-item img {
  position: absolute;
  top: -37px;
  width: 100%;
  display: block;
  width: 94%;
  object-fit: cover;
}

.bars-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1;
}
.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f242d;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-out forwards;
  animation-delay: calc(0.1s * var(--!));
  -webkit-animation:;
}

@keyframes show-bars {
  100% {
    transform: translateY(0);
  }
}
